<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Path where the FAT files are found -->
    <add key="Path.SourceFAT" value="Z:\02-Facturation"/>
    <!-- Path where the version.ini is placed -->
    <add key="Path.AppRepository" value="Z:\02-Facturation\FAT Mgmt System"/>
    <!-- Excel cells containing the data -->
    <add key="AnalyseWorksheet" value="analyse"/>
    <add key="ExcelCellTotal" value="BK15"/>
    <add key="ExcelColumnSubTotal" value="AZ{0}"/>
    <add key="ExcelCellMaladie" value="Maladie"/>
    <add key="ExcelCellCongesPayes" value="Congés payés"/>
    <add key="ExcelCellFerie" value="Férié"/>
    <add key="ExcelCellCongesExceptionnels" value="Congés exceptionnels (à préciser)"/>
    <add key="ExcelCellFormation" value="Formation"/>
    <add key="ExcelCellProject" value="D{0}"/>
	<add key="ExcelCellClient" value="C{0}"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- Director and BPO email addresses -->
    <add key="Email.Director" value="plewfai@astek.mu"/>
    <add key="Email.BPO" value="bpo_team@astek.mu"/>
    <!-- Name of launcher -->
    <add key="Name.Launcher" value="Anwar Buchoo"/>
    <!-- Url of LMS -->
    <add key="URL.LMS" value="https://lms.astek.mu/"/>
    <!-- Auto-backup on SFTP server -->
    <add key="AutoBackup.Host" value="127.0.0.1"/>
    <add key="AutoBackup.Username.CryptedAES" value="bk0IwluuThOgZ4/xxvZhog=="/>
    <add key="AutoBackup.Password.CryptedAES" value="6QF58G1bfVYv40fJy2R8Rg=="/>
    <add key="AutoBackup.RemotePath" value="/home/vivop/vivop-backup/02-Facturation/FAT Mgmt System/auto-backup"/>
    <!-- Project member of Vivop - Aspin for SPROD V2 -->
    <!-- add key="ProjectMember.Aspin" value="jahchong,smaregadee" -->
    <add key="ProjectMember.Aspin" value="none" />
    <add key="ClientName.Other" value="Econocom|Econocom Watts;FT - VIVOP|Vivop;FT-VIVOP|Vivop" />
  </appSettings>
  <connectionStrings>
    <!-- ConnectionString for Access DB via OLEDB-->
    <add name="leavesConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\02-Facturation\FAT Mgmt System\data\leaves.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>